/* specific page styles for extension "tx_cssstyledcontent" */
	.csc-textpic-intext-right-nowrap .csc-textpic-text { margin-right: 310px; }
	.csc-textpic-intext-left-nowrap .csc-textpic-text { margin-left: 310px; }
	.csc-textpic-intext-left-nowrap-35 .csc-textpic-text { margin-left: 35px; }