/* CSS Document */
h1, h2
{
	/* font-size: .8em; */
	font-size: 13px;
	font-weight:bold;
}

h3, h4, h5
{
	/* #font-size: .7em; */
	font-size: 12px;
	font-weight:bold;
}

ul, dd
{
	list-style-type:square;
}

p, li, dt, dd, p.annotation

{
	/* #font-size: .7em; */
	font-size: 11px;
	
}

p.mod

{
font-weight:bold;
font-size:.7em;
	
}

li li

{
	font-size: 1em;
	list-style-type: circle;

}

td p, td h3, td li, td h2

{
	font-size: 1em;

}


.contact {
	font-size: .65em;
	vertical-align: middle;
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-left: 5px;
}
#inlinelist li {
	display: inline;
	font-size: .65em;
	margin:0;
	}

#rightcontent h1, #rightcontent h2, #rightcontent h3, #rightcontent h4, #rightcontent h5 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:120%;
	color: #FFFFFF;
	font-weight: normal;
	padding: 5px 5px 0px 5px;
	border-top: #FFFFFF solid 5px;
}


#rightcontent p {
	padding: 0px 5px 0px 5px;
}

#rightcontent ul li {
	padding: 0px 0px 4px 0px;
	margin: 0px 0px 0px -20px;
	list-style:square;
	text-indent: 0px;
	list-style-position:outside;
}


#actualcontent h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:140%;
	color: #333333;
	font-weight: normal;
	padding: 0px 0px 0px 10px;
}

#actualcontent h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:120%;
	color: #000000;
	font-weight: normal;
	padding: 0px 0px 0px 10px;
}

#actualcontent h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:100%;
	color: #000000;
	font-weight: normal;
	padding: 0px 0px 0px 10px;
}

#actualcontent h4 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:90%;
	font-style:italic;
	color: #000000;
	font-weight: normal;
	padding: 0px 0px 0px 10px;
}

#actualcontent ul li {
	padding: 0px 0px 4px 10px;
	list-style:outside;
	list-style-type: circle;
	margin: 0px;
}

#actualcontent ol li {
	padding: 0px 0px 4px 10px;
	list-style:outside;
	list-style-type:decimal-leading-zero;
	margin: 0px;
}

#actualcontent p {
	padding: 0px 0px 8px 10px;
	margin: 0px;
}


blockquote {
display: block;
padding: 0px 10px 0px 0px;
width: 350px;
font-family: Georgia, "Times New Roman", Times, serif;
font-style: italic;
font-size: 90%;
}

blockquote:before, blockquote:after {
color: #AFCDE3;
display: block;
font-size: 300%;
width: 50px;
}

blockquote:before {
content: open-quote;
height: 0;
margin-left: -0.55em;
}

blockquote:after {
content: close-quote;
height: 50px;
margin-top: -40px;
margin-left: 360px;
}

blockquote p {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-style: normal;
font-size: 70%;
}


#actualcontent table {
	margin-top: 3px;
	margin-left: 10px;
	margin-right: 15px;
	margin-bottom: 20px;
	width: 95%;
}

#actualcontent table img {
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 5px;
	margin-left: 5px;
	border: 0px;
}

#actualcontent table h1 {
	margin-left: -10px;
	color:#7B890A;
}

#actualcontent th {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:90%;
	/*border-top:  1px solid #AFCDE3; 
	border-bottom:  1px solid #AFCDE3; */
	background: #175F90;
	padding: 2px 2px 2px 6px;
	text-align:left;
	color: #FFFFFF;
	font-weight:normal;
}

#actualcontent table caption {
	border-top:  1px solid #AFCDE3;
	border-bottom:  1px solid #AFCDE3;;
	padding: 2px 2px 2px 6px;
	text-align:left;
	color: #175F90;
	font-weight:bolder;
	width: 98%;
	margin-left: 7px;
	margin-right: 7px;
}


#actualcontent td {
	border-bottom: 1px solid #DEEDFF;
	padding: 4px 4px 4px 4px;
	vertical-align: top;
}

#actualcontent td p {
	padding: 0px;
}