/* CSS Document */




body
 {
	margin: 0;
	padding: 0;
	border: 0;
 	background-color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;

}

h1#ucl_header {
    display: none;
}

hr {
    color: #CCCCCC; 
    background-color: white;
	height: 1px;
}


a:link {
    color: #003399;
	text-decoration: none;
}
a:visited {
    color: #003399;
	text-decoration: none;
}

a:hover {
    color: #CC6666;
	text-decoration: underline;
}
a:active {
    color: #666699;
	text-decoration: none;
}

li.space {list-style-type: none;
          margin-top: 2px;
          }

ul.lhmenu {
	margin-top: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-left: 2px;
	}

ul.lhmenu li.space ul {
	margin-top: 0px;
        padding-left:5px;
}

ul.lowermenu {
	margin-top: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-left: 2px;
	}

ul.lowermenu li.space ul {
	margin-top: 0px;
        padding-left:5px;
}

li.list_header {list-style-type: none;
          margin-top: 5px;
margin-bottom: 2px;
          }

.spaceindent {
	margin-top: 2px;
	padding-left:7px;
        padding-top:2px;
}

li.dsbold {
	font-weight: bold;
	margin-top: 10px;
}
li.sbold {
	font-weight: bold;
	margin-top: 1px;
}

.no {
display: none;
}

.floatright {
float: right;
display: inline;
}

ul.nobullet {
	margin-top: 3px;
	margin-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	list-style-type: none;
}

ul.newsarchive {
	margin-top: 3px;
        margin-bottom: 3px;
	margin-left: 0px;
	padding-top: 0px;
	padding-left: 0px;
	list-style-type: none;
        border: solid 1px #cccccc;
}


#edit_button {
display: inline;
border: none;
}

#edit a:link, #edit a:visited, #edit a:active 
{

float: right;
position:absolute;
right:120px;
border: 1px solid #ffffff;

}

#edit a:hover {display: inline;
border: 1px solid #cccccc;}

div.clearing {
    height: 0;
    clear: both;
    font-size: 0em;
}

dt {
	margin-top: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-left: 2px;
	}

dd {
	margin-top: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-left: 10px;
	}

td, th
{
	border: solid 1px #ffffff;
        margin: 2px;
        font-size: .7em;
	
}


td td
{
        font-size: 1em;
	
}
/*Start styles laying out the image galleries*/



.spacer {
  clear: none;
  margin:0;
  }

.float {
  float: left;
  padding: 5px;
  height: 180px;
  width: 120px;
  border: 1px dotted #000000;
  margin: 10px;
  }

.thumbImage {
border: 0;
}

:link img, :hover img, :active img, :visited img {
  border: none;
}


.float a:hover p {
color: #CC6666;
text-decoration: underline;
}



.listingBar
{font-weight: bold;}

/*End styles laying out the image galleries*/

.list_head {

font-family: arial, sans-serif;
font-size:11px;
font-weight:bold;
padding-bottom:0px;
margin-bottom:3px;}

.list_head_padding{
margin-top:5px;
}

#right-column img.default {
border: 0;
}

.listingBar
{font-weight: bold;}

/* End styles laying out the image galleries*/



.list_head {

font-family: arial, sans-serif;
font-size:11px;
font-weight:bold;
padding-bottom:0px;
margin-bottom:3px;}

.list_head_padding{
margin-top:5px;
}

#right-column img.default {
border: 0;
}

