.news_menu  {
        font-family: arial, sans-serif;
        color:#EF8100;
        padding-left: 2px;
}


#archive_container {
        margin-bottom: 20px;
}



ul#newsarchive {
        width:100%;
        padding-left: 0;
	padding-top: 3px;
	padding-bottom: 3px;
	list-style-type: none;
        display:inline;
        border: 1px solid #CCCCCC;
}

li#year_left

{display:inline;
padding-right:5px;
padding-left:10px;
text-align: center;
}

li.month

{display:inline;
padding-right:5px;
padding-left:5px;
text-align: center;
}

li.highlight

{display:inline;
padding-right:5px;
padding-left:5px;
font-weight: bold;
background-color: #FFFF99;
border: 1px solid #CCCCCC;
text-align: center;
}

li#year_right

{display:inline;
padding-left:5px;
padding-right:10px;
text-align: center;
}

.rss {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
        margin:0;
padding-left:2px;
}

.rss a:link {
    color: #FFFFFF;
	text-decoration: none;
}

.rss a:visited {
    color: #FFFFFF;
	text-decoration: none;
}

.rss a:hover {
    color: #FFFFFF;
text-decoration: underline;
}

.rss a:active {
    color: #FFFFFF;
	text-decoration: none;
}


.rss_button {
	background-color: #FF6600;
	border: 1px solid #990000;
        width:28px;
        
}