/* CSS Document */

.float-right {
	padding: 5px;
margin-left:3px;
	float: right;

}

.image-right {
	padding: 3px;
	float: right;
        clear: right;
        display:inline;
}
.float-left {
	padding: 5px;
margin-right:3px;
	float: left;

}


table.silvatable
{
        background-color: #cccccc;
        width:100%;
	
}

table.silvatable tr
{
	vertical-align: top;
	
}

ul.disc li

{
	margin-bottom: 4px;
}

.align-center

{text-align: center;}

.align-left

{text-align: left;}

.align-right

{text-align: right;}

.module-list {
	margin-left: 10px;
	padding-left: 0;
	list-style: none;
	}
.mod-items {
margin-left: 10px;
	padding-left: 10px;
	background-image: url(../images/arrow.gif);
	background-repeat: no-repeat;
	background-position: 0 .4em;
	}


.levelhead {
margin-top: 10px;
margin-bottom: 5px;
padding-left: 0px;
	background-image: none;
	background-repeat: no-repeat;
}
.levelhead p {
font-family: Verdana, Arial, helvettica, sans-serif;
font-size: 1em;
/*colour: black;*/
}
