/* Search box*/

/* Search form formatting */
.searchForm *, .breadcrumb {
	float: left;
	font-size: 10px;
}

.searchForm .text {
	border: 1px solid #cccccc;  
	margin: 0px 0px 0px 0px;
	padding: 1px 0px 1px 5px;
	color: #000000;
	display: inline;
	vertical-align: middle;
	width: 115px;
	height: 12px;
}

.searchForm .button {
	background-image: url(/fileadmin/templates/images/magGlassSmall.png); 
	background-color: transparent;
	background-repeat: no-repeat;  /* make the background image appear only once */
	background-position: left top;
	border: none;
	padding: 0px;
	width: 15px;
	height: 15px;
	margin: 2px 0px 0px 5px;
} 

.searchForm .button:hover {
  background-position: right top;
}
