#bannerimages {
display: inline;
height: 50px;
padding: 0;
margin: 0;
}

#logo_holder {
position:absolute;
top: 0px;
right:0px;
width: 50%;
height: 75px;
margin: 0;
display: inline;
}

#logo {
	height: 110px;
	width: 262px;
	display: inline;
	margin: 0;
	float:right;
    padding: 0;
}




#banner {

margin:0;
padding:0;
height: 110px;
}

#section_heading {
    margin:0;
	padding-top:15px;
	display:inline;
	float:left;
}
h1 #section_head_white {
	margin: 0px;
	padding: 0px;
}