#textsize{
font-family: "Times New Roman", Times, serif;
float: right;
display: none;
}

#textsizelist {
	
	list-style:none;
	margin: 0;
	}


#textsizelist ul, #textsizelist li {
	display: inline;
	}


#smalltext

{
font-size: .75em;
font-weight:bold;
}

#mediumtext

{
	font-size: 1em;
        font-weight:bold;
}

#largetext

{
	font-size: 1.25em;
        font-weight:bold;
	
} 