/* CSS Document */
#tb-default {
	background-color: #cccccc;
   height: 110px  

}

#tb-black {
	background-color: #181512;
   height: 110px  

}

#tb-dark_purple {
	background-color: #4C224F;
height: 110px;
}

#tb-dark_purple_80 {
	background-color: #67436C;
height: 110px;
}

#tb-dark_red {
	background-color: #6D0020;
      height: 110px;  

}

#tb-dark_red_80 {
	background-color: #86183C;
      height: 110px;  

}

#tb-dark_blue {
	background-color: #173958;
        height: 110px;

}

#tb-dark_blue_90 {
	background-color: #1B4669;
        height: 110px;

}

#tb-dark_green {
	background-color: #4B5100;
        height: 110px;

}

#tb-dark_green_90 {
	background-color: #5E6509;
        height: 110px;

}

#tb-orange {
	background-color: #EF8100;
        height: 110px;

}

#tb-mid_red {
	background-color: #EF3213;
        height: 110px;

}

#tb-mid_red_80 {
	background-color: #F26B47;
        height: 110px;

}

#tb-mid_blue {
	background-color: #29A6C9;
        height: 110px;

}

#tb-mid_blue_90 {
	background-color: #2FADCD;
        height: 110px;

}

#tb-mid_green {
	background-color: #689300;
        height: 110px;

}

#tb-yellow {
	background-color: #F6C100;
        height: 110px;

}

#tb-pink {
	background-color: #AD004E;
        height: 110px;

}

#tb-mid_green {
	background-color: #689300;
        height: 110px;

}

#tb-mid_green_80 {
	background-color: #80A743;
        height: 110px;

}

#tb-light_purple {
	background-color: #CCA6BB;
        height: 110px;

}
#tb-pink_80 {
	background-color: #BC2268;
        height: 110px;

}

#tb-light_blue {
	background-color: #97BFDF;
        height: 110px;

}
